useDynLib(FME)

export(modCost,sensFun,collin,sensRange,Unif,Norm,Latinhyper,Grid,
       modFit,modMCMC,pseudoOptim,modCRL,obsplot)

S3method("summary",     "modFit")
S3method("deviance",    "modFit")
S3method("coef",        "modFit")
S3method("residuals",   "modFit")
S3method("df.residual", "modFit")
S3method("plot",        "modFit")
S3method("print", "summary.modFit")

S3method("pairs",   "modMCMC")
S3method("plot",    "modMCMC")
S3method("hist",    "modMCMC")
S3method("summary", "modMCMC")

S3method("print", "collin")
S3method("plot",  "collin")

S3method("summary", "sensFun")
S3method("plot",    "sensFun")
S3method("pairs",   "sensFun")
S3method("print", "summary.sensFun")
S3method("plot", "summary.sensFun")

S3method("summary", "sensRange")
S3method("plot",    "sensRange")
S3method("plot","summary.sensRange")

S3method("summary", "modCRL")
S3method("plot",    "modCRL")
S3method("hist",    "modCRL")
S3method("pairs",   "modCRL")

S3method("plot","modCost")
